
/** @import "@fontsource/open-sans/400.css"; */
@import "mini.css";

body {
  font-family: 'Open Sans';
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #15191e;
    color: white;
  }
}

main {
  padding: 5vh 5vw;
}

main {
  text-align: center;
}

main > button {
  /* inspired by mx_AccessibleButton_kind_primary */
  color: white;
  background-color: #0dbd8b;
  font-weight: 600;
  padding: 7px 18px;
  text-align: center;
  border-radius: 8px;
}
