@import "mini.css";
/* @import "@fontsource/open-sans/400.css"; */

body {
  font-family: 'Open Sans';
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #15191e;
    color: white;
  }
}

body.theme-dark {
  background-color: #15191e;
  color: white;
}

main {
  padding: 5vh 5vw;
  font-family: 'Open Sans' !important;
  text-align: center;
}

a {
  color: #0dbd8b !important;
}

main > div > button {
  /* inspired by mx_AccessibleButton_kind_primary */
  color: white;
  background-color: #0dbd8b !important;
  font-weight: 600;
  padding: 7px 18px;
  text-align: center;
  border-radius: 8px;
}

main > div > button:disabled {
  background: var(--button-hover-back-color);
  border-color: var(--button-hover-border-color);
}

.error {
  color: red;
}

.profileWrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}
  
.profileWrapper > .avatar {
  width: 48px;
  padding: 10px;
  border-radius: 24px;
}

.profileWrapper > .spannerText {
  display: inline;
  margin: auto 0;
  text-align: left;
}

#root {
  margin-left: auto;
  margin-right: auto;
  display: block;
}